html {
	background-color: AquaMarine;
}

body {
	background: peachpuff;
	width: 600px;
	padding: 5px 13px;
	margin: 7.5vh auto 0px;
	border: 4px solid maroon;
}
p {
	color: blue;
	font-family: 'Allura';
	font-size: 45px;
	line-height: 1;
}

ul li {
	font-family: 'Press Start 2P';
	font-size: 15px;
}

h1 {
		text-align: center;
		margin: 0;
		text-shadow: 3px 1px 3px red;
}

img {
	max-width: 100%;
	height: auto;
	margin-top: 55px;
}

button {
	background-color: Goldenrod;
	color: white;
	width: 50%;
	height: 50px;
}

nav {
	position: fixed;
	top: 0;
	
	text-decoration: none;
	width: 600px;
	height: 7vh;
	background-color: AquaMarine;
}

nav ul {
	width: 600px;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 0;
	color: black;
	
	
}

li a {
	text-decoration: none;
	color: black;
}

nav span {
	margin-bottom: 55px;
}


#cont {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0;
}
